<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.subversion.client.adapter">
      <svnclient
            class="org.eclipse.subversion.client.javahl.internal.JhlClientAdapter"
            id="org.eclipse.subversion.client.javahl.adapter"
            name="JavaHL (JNI)"/>
   </extension>

</plugin>
