<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.tigris.subversion.subclipse.graph.contribution1">
         <menu
               label="Revision graph"
               path="additions"
               id="org.tigris.subversion.subclipse.graph.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="View file history as graph"
               class="org.tigris.subversion.subclipse.graph.popup.actions.ViewGraphAction"
               menubarPath="org.tigris.subversion.subclipse.graph.menu1/group1"
               enablesFor="1"
               id="org.tigris.subversion.subclipse.graph.newAction">
         </action>
      </objectContribution>
   </extension>
	<extension point="org.eclipse.ui.views">
	        <view
            	category="org.tigris.subversion.subclipse"
               class="org.tigris.subversion.subclipse.graph.view.RevisionGraphView"
               id="org.tigris.subversion.subclipse.graph.view.revisionGraphView"
               name="Revision Graph View"/>
	</extension>
</plugin>
