<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.tigris.subversion.subclipse.graph.editors.RevisionGraphEditor"
            contributorClass="org.tigris.subversion.subclipse.graph.editors.GraphActionBarContributor"
            icon="icons/chart_organisation.png"
            id="org.tigris.subversion.subclipse.graph.editors.revisionGraphEditor"
            name="Revision Graph Editor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.tigris.subversion.subclipse.graph.contribution1"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="org.tigris.subversion.subclipse.graph.popup.actions.ViewGraphAction"
               enablesFor="1"
               icon="icons/chart_organisation.png"
               id="org.tigris.subversion.subclipse.graph.newAction"
               label="View file history as graph"
               menubarPath="team.main/group2">
         </action>
      </objectContribution>
   </extension>
</plugin>
