<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.tigris.subversion.subclipse.graph.editors.RevisionGraphEditor"
            icon="f"
            id="org.tigris.subversion.subclipse.graph.editors.revisionGraphEditor"
            name="Revision Graph Editor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.tigris.subversion.subclipse.graph.contribution1"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               label="View file history as graph"
               class="org.tigris.subversion.subclipse.graph.popup.actions.ViewGraphAction"
               menubarPath="team.main/group2"
               enablesFor="1"
               id="org.tigris.subversion.subclipse.graph.newAction">
         </action>
      </objectContribution>
   </extension>>
</plugin>
